@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700');
@import url('style-home.css');

a{transition:all 0.3s ease-out 0s; outline:none!important;}
img{max-width:100%;}
.padT1{padding-top:5px;} .padT2{padding-top:10px;} .padT3{padding-top:15px;} .padT4{padding-top:20px;} .padT5{padding-top:25px;} .padT6{padding-top:30px;}
/*.logo img{width:inherit; border:0;}*/
header{display:flex; flex-wrap: wrap; margin-bottom:30px; position:relative;}
.navbar-toggle{ margin-top:0; top:-40px;position:absolute; right:0;}
.navbar-toggle .icon-bar{display: block;width: 22px;height: 2px;border-radius: 1px; margin-bottom:5px;}
.navbar-nav > li a{color:#BDFEF2!important;padding: 15px 13px!important;}
.search1 input, .search input{font-size:14px;}
.navbar{padding-top:0; padding-bottom:0;}
.sign a {color: #BDFEF2!important; font-size:14px;}
.video-heading.text-center{margin-top: 20px;margin-bottom: 10px;}
footer .border{border:0px!important;}
.orange{color:#ec670e;} .red{color:#b52222;}
.toolbar{background:#fafafa; border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; margin:0px 0 20px; width:100%;display:flex; flex-wrap: wrap;}
.toolrow{border-bottom:1px solid #e6e6e6; display: flex;flex-wrap: wrap; align-items: center; justify-content: left; margin:0;}
.toolbar .toolrow:last-child{border-bottom:0;}
.toolrow li{display:inline-block; padding:10px 10px 10px 30px; font-size:14px; color:#212121;border-right:1px solid #e6e6e6; max-width: 100%;}
.toolrow li strong{padding-right:20px; font-weight:600;}
.toolrow li big{padding-right:20px; font-weight:600; font-size:18px; vertical-align: middle;}
.toolrow li label{font-weight:400; display:inline-block; margin:0; margin-right:15px; font-size:13px;}
.toolrow li:last-child{padding-right:0; border-right:0;} .toolrow li:first-child{padding-left:0;}
.toolbar .dropmenu{position:relative; padding-right:0;}
.toolbar select{border:1px solid #ddd; padding:5px 10px; height:inherit; min-width:100px; max-width:100px; -webkit-appearance: none;-moz-appearance: none;appearance: none;  border-radius:0; font-size:14px;}
.toolbar .dropmenu::after{font-family:fontawesome; content:"\f107"; position:absolute; right:3px; top:3px; pointer-events:none; background:#fff; padding:1px 3px; font-size:17px;}

.custom {display: block;position: relative;padding-left: 23px;padding-top:7px; padding-bottom:7px;cursor: pointer;font-size: 14px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.custom input {position: absolute;opacity: 0;cursor: pointer;margin:0;}
.checkmark {position: absolute;top: 7px;left: 0;height: 18px;width: 18px;background-color:none;border-radius: 50%; border:2px solid #757575; }
.checkBox .checkmark{border-radius:0; width:22px; height:22px; top:-2px;}
.custom:hover .checkmark {background-color: #fff;}
.custom input:checked ~ .checkmark {background-color: #fff; border-color:#51b5b1;}
.checkmark:after {content: "";position: absolute;display: none;}
.custom input:checked ~ .checkmark:after {display: block;}
.custom .checkmark:after {top: 2px;left: 2px;width: 10px;height: 10px;border-radius: 50%;background: #51b5b1;}
.checkBox .checkmark:after {left:1px;top: -3px; content: "\f00c"; font-family:"fontawesome"; position: absolute; font-size:16px;color:#51b5b1; background:none; width:0; height:0;}

.fav {position: relative;display: inline-block;width: 70px;height: 35px; vertical-align:middle;}
.fav input { opacity: 0;width: 0;height: 0;}
.switch {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #bbb;-webkit-transition: .4s;transition: .4s;border-radius:25px;}
.switch:before {position: absolute;content: "";height: 28px;width: 28px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;border-radius: 50%;}
input:checked + .switch {background-color: #51b5b1;}
input:focus + .switch {box-shadow: 0 0 1px #51b5b1;}
input:checked + .switch:before {-webkit-transform: translateX(34px);-ms-transform: translateX(34px);transform: translateX(34px);}

.toolrow .pagination{margin:0; font-weight:700; letter-spacing:2px; line-height:30px;}
.toolrow .pagination a{display:inline-block; background:#51b5b1; letter-spacing:0; padding:0px 10px; color:#fff; font-size:36px; line-height:15px; border-radius:3px; vertical-align:middle; border:0; margin:0 2px;}
.toolrow .pagination a:hover{background:#66ade1;}

.speakers{padding:10px 0 70px;}
.speaker-row{display: flex; flex-wrap: wrap; min-width: 100%; justify-content: space-between; margin-left:-10px; margin-right:-10px;}
.speaker-col{border-radius:5px; border:1px solid #d6d6d6; background:#fff; margin:20px 10px 0; flex: 1; padding:0px;}
.speakers .box{ padding:15px; display: flex;flex-wrap: wrap; }
.box .speaker-img{flex:0 0 40%; max-width:40%;}
.box .speaker-img span{height:200px;overflow:hidden; display:flex;}
.box .speaker-img img{width:100%; height:100%; object-fit:cover;}

.box .speaker-info{flex:0 0 60%; max-width:60%; padding-left:15px;}
.speaker-info h3{font-size:22px; font-weight:600; color:#212121; margin-top:20px; margin-bottom:5px;}
.speaker-info p{font-size:15px; font-weight:400; color:#7a7a7a; line-height:22px; padding:0; min-height:70px;  max-height:70px; margin:0; overflow:hidden;}
.social{display: flex;flex-wrap: wrap; padding-top:20px;}
.social .company, .social .twitter{flex-basis:1;flex-grow: 1;max-width: 100%; position:relative; padding-left:45px;}
.social .company::before, .social .twitter::before{font-family:fontawesome; color:#51b5b1; font-size:25px; border-radius:100px; border:1px solid #51b5b1; width:40px; height:40px; display:block; line-height:40px; text-align:center; position:absolute; left:0; top:0;}
.social .company::before{content:"\f0f7";}
.social .twitter::before{content:"\f099";}
.social h5{font-size:14px; font-weight:600; padding:0; margin:0;}
.social h6{font-size:13px; font-weight:400; padding:6px 0 0; margin:0;color:#7a7a7a;}
.action{display:flex; flex-wrap:wrap; color:#7a7a7a;font-size:14px;}
.action span{flex-basis:0;flex-grow: 1;max-width: 100%; cursor:pointer; }
.action span:first-child:hover{color:#ec670e;} .action span:last-child:hover{color:#b52222;}
.action i{font-size:20px;}
.action .fa-angle-down{font-size:16px;}
.btn-load{padding:15px 30px!important; font-size:15px; font-weight:bold; border:0; background-color: #51B5B1;} .btn-load:hover{background:#66ade1;}
.btn-load .fa{font-weight:400; font-size:16px; padding-right:5px;}

.sessionBox{border-top:1px solid #d6d6d6; border-radius:0 0 5px 5px; padding:10px 50px 10px 15px;  background:#fff; position:relative; display:block;}
.session{background:#edecec; border-radius:5px; padding:10px; display:inline-block; font-size:14px; color:#6d6d6d; margin:5px 0;}
.session strong{font-weight:600; color:#202020;}
.addSes{position:absolute; bottom:15px; right:10px;}
.addSes i{border:2px solid #51b5b1; border-radius:60px; width:35px; height:35px; display:inline-block; text-align:center; color:#51b5b1; font-size:35px; line-height:32px; font-style:normal;}
.addSes:hover i{background:#51b5b1; color:#fff;}
.modal .form-control{height:45px; border-radius:3px;}
.modal label{font-weight:400; color:#868686;}
.modal-title{padding:10px 0;}
.modal-header .close{position:absolute; right:10px; top:10px;}
.modal-body{padding:15px 25px;}

.fav-list{display:none;}
.favbox{background:#fafafa; border:1px solid #d6d6d6; border-radius:5px; display:flex; padding:10px 0; flex-wrap: wrap; align-items: center; justify-content: space-between; margin-top:20px;}
.fav-img{display:inline-block; width:65px; height:65px; overflow:hidden; border-radius:100px;vertical-align:middle;}
.fav-img img{width:100%; height:100%; object-fit:cover;}
.favbox h4{display:inline-block; vertical-align:middle; padding:0 5px; font-size:18px; font-weight:600;}
.favbox .fav-clm:last-child{text-align:right; border-left:1px solid #d6d6d6; padding-top:20px; padding-bottom:20px;}

.show-fav .speakers-list{width: 50%; padding-left:15px; padding-right:15px; }
.show-fav .fav-list{width: 50%; padding-left:5px; padding-right:10px;display:block; order:2;}
.show-fav .speaker-row{display:block; margin-left:0; margin-right:0;}
.show-fav .speaker-col{width:100%; float:none; margin-left:0; margin-right:0; max-width:100%;}
.speakers-list{padding:0 10px 0 0px;}
.show-fav .speakers-list{padding:0 15px 0 0px;}
.dark{background:#222;}
@media only screen and (max-width: 1024px) {
  .speaker-col{float:none; width:auto; flex:0 0 100%; max-width:100%;}
  .speaker-col{margin-left:0; margin-right:0}
  .show-fav .speakers-list, .show-fav .fav-list{float:none; width:auto;padding-left:5px; padding-right:5px;}
  .speakers-list{padding-left:15px;padding-right:15px;}
  .toolbar{float:none; clear:both; justify-content: center;}
  .toolrow{border-bottom: 0;}
  .toolrow li{max-width:33.33%; flex:0 0 33.33%;padding-left:10px; text-align:center; border-bottom: 1px solid #e6e6e6; min-height:57px;}
  .toolrow li:first-child{padding-left:10px;}
  .toolrow li:last-child{border-right: 1px solid #e6e6e6;}
  .toolrow li:nth-child(3){border-right:0;}
  .toolrow li.show-sessions{padding-top:15px;}
  .box .speaker-img span{border: 1px solid #f8f8f8;box-shadow: rgba(0,0,0,.05) 0 0 10px;}
  .box .speaker-img img{object-fit: contain;}
  .show-fav .fav-list{order:1; max-width:100%; width:100%;}
  .show-fav .speakers-list{order:2;}
}
@media only screen and (max-width: 990px) {
  .toolrow li{max-width:50%; flex:0 0 50%; text-align:left;}
  .toolrow li:nth-child(3){border-right:1px solid #e6e6e6;}
  .toolrow li:nth-child(5){max-width:100%; flex:0 0 100%;}
  .toolbar .toolrow:last-child li:last-child{border-right:0; border-bottom:0;}
  .toolrow li:nth-child(2), .toolrow li:nth-child(4), .toolrow li:last-child{border-right:0;}
  /*.toolbar .toolrow:last-child li:first-child{border-bottom:0;}*/
}
@media only screen and (max-width: 800px) {
  .links, .video-sec, .foter-logo{max-width:100%; flex:0 0 100%;max-width:100%; padding:20px 0;}
  .foter-logo img{width:auto;}
  .footer-p{padding:0 20px;}

}

@media only screen and (max-width: 700px) {
  .show-fav .fav-list{padding-left:15px; padding-right:15px; margin-left:0; margin-right:0;}
  .speakers-list{margin-left:10px; margin-right:10px;}
  .fav-clm{width:50%;}
  .navbar-toggle{top:-25px;}
  /*.collapse:not(.show){display:inherit;}*/
  .collapse.in {display: block;}
}
@media only screen and (max-width: 600px) {
  .social .company{padding-bottom: 15px;}
  .fav-clm{width:55%;}
  .favbox .fav-clm:last-child{width:45%;}
  .favbox h4{font-size:16px;}
  .toolrow{padding:0 15px;}
  .main-footer{padding:0 20px;}
  header{padding-left:15px; padding-right:15px;}
  header .logo{max-width:60%;}
  .navbar-toggle{top:-35px;}
}
@media only screen and (max-width: 560px) {
  .fav-clm{width:40%; text-align:center;}
  .favbox .fav-clm:last-child{width:60%;}
  .toolrow li strong{display:block; padding-bottom:5px;}
  .toolrow li:nth-child(5) strong{display:inline-block; padding-bottom:0;}
}
@media only screen and (max-width: 500px) {
  .social .company{padding-bottom: 15px;}
  .box .speaker-img, .box .speaker-info{flex:0 0 100%; max-width:100%;}
  .box .speaker-info{padding:20px 0 0;}
  .speaker-info p{min-height:inherit; max-height:inherit;}
}
@media only screen and (max-width:390px) {
  .action span{flex:0 0 100%; text-align:left; padding:10px 0;}
  .fav-clm{width:55%;}
  .favbox .fav-clm:last-child{width:45%;}
  .toolrow li big{font-size:14px; line-height:18px; padding-bottom:5px; display:block; padding-right:0px;}
  .toolrow li label{margin-right:30px;}
  .toolrow li{padding-right:0;}
  .navbar-toggle{top:-25px;}
}

@media only screen and (max-width:340px) {
  .toolrow li label{margin-right:15px;}
}
